{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', path='/css/index-styles.css') }}" rel="stylesheet" />
{% endblock %}
{% block title %}About{% endblock %}

{% block content %}
<header class="masthead" style="height: calc(20rem + 57px); width: 100%;">
  <div id="about-header" style="background-color: black; position: absolute; left: 0; top: 0; width: 100%; height: 100%;"></div>
  <div class="center" style="z-index: 1;">
    <div class="site-heading">
        <h1>About</h1>
        <span class="subheading">who I am, what I do, what this is about</span>
    </div>
</div>
</header>

<article data-toc data-toc-id="main-toc" data-toc-class="toc-custom" data-toc-parent-id="toc-parent" class="mb-4">
  <div class="container px-4 px-lg-5" style="text-align: justify;">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div id="master-container" class="col-md-10 col-lg-10 col-xl-8">
          <p>
            <h3>Hi, I'm Philipp 👋</h3>
            I'm a data scientist at ING Germany. This website is my personal playground on which I develop side projects, try out new technologies and talk about ideas worth sharing. I am very interested in everything related to machine learning and data visualization. That's probably why most of my content is either related to one or both of these topics. My main tools are Python and D3, although the latter forced me to wrap my head around JavaScript.
          </p>
          <p>
            The website's backend is based on Sebastián Ramírez's <a href="https://fastapi.tiangolo.com/" target="_blank">FastAPI</a> framework, while the beautiful visualizations rely on Mike Bostock's <a href="https://d3js.org/" target="_blank">D3.js</a>. Both tools are simply amazing and you should definitely consider having a look at them. The website is deployed on a DigitalOcean droplet using Docker containers to make the release process less painful 😜.
          </p>
          <p>
            Let me know if you want to know how to build your own website/portfolio using Python, JS, HTML, and CSS. I didn't write about it yet, but I would definitely come up with something if enough people are interested. Additionally, the website's entire code is available on <a href="https://github.com/pstuerner/philippstuerner" target="_blank">GitHub <i class="fab fa-github"></i></a>. In the meantime, feel free to skip through my existing content. I really hope that you find it useful 🙂 I'm always happy to catch up, so don't hesitate to get in touch with me by mail or LinkedIn.<br><br>
            Best,<br>
            Philipp
          </p>
        </div>
      </div>
  </div>
</article>
{% endblock %}

{% block body_js %}
{{ super() }}
<script src="{{ url_for('static', path='/js/about.js') }}"></script>
{% endblock %}
