{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', path='/css/index-styles.css') }}" rel="stylesheet" />
{% endblock %}
{% block title %}Hi 👋{% endblock %}

{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-color: black; height: calc(20rem + 57px); width: 100%;">
    <div id="carousel-header" class="carousel slide carousel-fade">
        <div id="carousel-header-inner" class="carousel-inner">
            <div id="circles-container" class="carousel-item" data-bs-interval="10000000"></div>
            <div id="voronoi-container" class="carousel-item active" data-bs-interval="10000000">
                <canvas id="canvas-voronoi"></canvas>
            </div>
            <div id="particles-container" class="carousel-item" data-bs-interval="10000000">
                <canvas id="canvas-particles"></canvas>
            </div>
            <div id="transitions-container" class="carousel-item" data-bs-interval="10000000">
                <div style="position: relative; height: 100%; width: 100%;"></div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-header" data-bs-slide="prev">
            <span style="color: white;"><i class="fas fa-chevron-left fa-2x"></i></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-header" data-bs-slide="next">
            <span style="color: white;"><i class="fas fa-chevron-right fa-2x"></i></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="center" style="z-index: 1;">
        <div class="site-heading">
            <h2>Philipp Stuerner</h2>
            <span class="subheading">about me, projects, data science, d3.js</span>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for post in posts %}
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="{{ url_for('post', post_id=post.id)}}">
                        <h2 class="post-title">{{ post.title }}</h2>
                        {% if post.subtitle is not none %}
                            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                        {% endif %}
                    </a>
                    <p class="post-meta">{{ post.description | safe}}</p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            {% endfor %}
            <!-- Pager-->
            <!-- <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">All Posts →</a></div> -->
        </div>
    </div>
</div>
{% endblock %}

{% block body_js %}
{{ super() }}
    <script src="{{ url_for('static', path='/js/voronoi.js') }}"></script>
    <script src="{{ url_for('static', path='/js/header-circles.js') }}"></script>
    <script src="{{ url_for('static', path='/js/header-voronoi.js') }}"></script>
    <script src="{{ url_for('static', path='/js/header-particles.js') }}"></script> 
    <script src="{{ url_for('static', path='/js/header-transitions.js') }}"></script> 
{% endblock %}