{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', path='/css/index-styles.css') }}" rel="stylesheet" />
{% endblock %}
{% block title %}Hi 👋{% endblock %}

{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-color: black; height: calc(20rem + 57px); width: 100%;"> 
    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleFade" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleFade" data-slide-to="1"></li>
                <li data-target="#carouselExampleFade" data-slide-to="2"></li>
                <li data-target="#carouselExampleFade" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <div id="circles-container" class="carousel-item active" data-interval="10000"></div>
                <div id="voronoi-container" class="carousel-item" data-interval="10000">
                    <canvas id="canvas-voronoi"></canvas>
                </div>
                <div id="particles-container" class="carousel-item" data-interval="10000">
                    <canvas id="canvas-particles"></canvas>
                </div>
                <div id="transitions-container" class="carousel-item" data-interval="10000">
                    <div style="position: relative; height: 100%; width: 100%;"></div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleFade" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleFade" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </button>
        </div>
        
        <div class="center" style="z-index: 1;">
            <div class="site-heading">
                <h2>Philipp Stuerner</h2>
                <span class="subheading">about me, projects, data science, d3.js</span>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for post in posts %}
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="{{ url_for('post', post_id=post.id)}}">
                        <h2 class="post-title">{{ post.title }}</h2>
                        {% if post.subtitle is not none %}
                            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                        {% endif %}
                    </a>
                    <p class="post-meta">{{ post.description | safe}}</p>
                </div>
                <hr class="my-4" />
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block body_js %}
{{ super() }}
    <script src="{{ url_for('static', path='/js/voronoi.js') }}"></script>
    <script src="{{ url_for('static', path='/js/header-circles.js') }}"></script>
    <script src="{{ url_for('static', path='/js/header-voronoi.js') }}"></script>
    <script src="{{ url_for('static', path='/js/header-particles.js') }}"></script> 
    <script src="{{ url_for('static', path='/js/header-transitions.js') }}"></script> 
{% endblock %}