{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', path='/css/index-styles.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', path='/css/stackoverflow-dark.css') }}" rel="stylesheet">
{% endblock %}
 
{% block content %}
<header class="masthead" style="background-image: url('/static/images/{% block header_img %}{% endblock %}'); height: calc(20rem + 57px); width: 100%;">
    <div class="center" style="z-index: 1;">
        <div class="site-heading">
            <h1>{% block heading %}{% endblock %}</h1>
            <span class="subheading">{% block subheading %}{% endblock %}</span>
        </div>
    </div>
</header>

<button onclick="topFunction()" id="to-top-button" title="Go to top"><i class="fas fa-arrow-up"></i></button> 

<article data-toc data-toc-id="main-toc" data-toc-class="toc-custom" data-toc-parent-id="toc-parent" class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            {% block post_content %}
            {% endblock %}
        </div>
    </div>
</article>
{% endblock %}

{% block body_js %}
{{ super() }}
<script src="{{ url_for('static', path='/js/toc.js') }}"></script>
<script src="{{ url_for('static', path='/js/back-to-top.js') }}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" id="MathJax-script" defer
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<!-- <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-svg.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS-MML_SVG"></script> -->
<!-- <script type="text/javascript" id="MathJax-script"
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script> -->
<!-- <script type="text/javascript" id="MathJax-script"
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}