{% extends "post.html" %}

{% block head %}
{{ super() }}
<style>
h3 {text-align: center;}
ol {
    counter-reset: item;
}
ol > li {
    counter-increment: item;
}
ol ol > li {
    display: block;
}
ol ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: -20px;
}
</style>
{% endblock %}

{% block title %}Don Conjugator{% endblock %}
{% block heading %}Don Conjugator{% endblock %}
{% block subheading %}Cervantes approved conjugation trainer to improve your Spanish{% endblock %}
{% block header_img %}donconjugator_header.jpg{% endblock %}

{% block post_content %}
<div class="col-md-10 col-lg-10 col-xl-8">
  <p>
    <h4>Get started</h4>
    <ol>
      <li>Pick a mode (e.g. indicativo).</li>
      <li>Pick one or more tenses (e.g. present, futuro, etc...).</li>
      <li>Choose a training mode and a range/number of words.</li>
      <ol>
        <li>Random: A random number of verbs.</li>
        <li>Frequency: Select only the most frequent Spanish verbs (e.g. ser, haber, ...).</li>
        <li>Range: Select a range of words. This is useful if you want to study, e.g., ten words a day. Start is inclusive, end exclusive and lower numbers stand for words that are more frequent.</li>
      </ol>
      <li>Study 😊 Read the English verb and try if you can come up with the Spanish translation on your own. Click/tap inside the black frame on the left of the English verb to display the Spanish translation. Enter your conjugations and press "Next". The cursor will automatically jump to the next field when you hit enter. If your answer was wrong you will see the correct conjugation. Click the "Next" button again to continue.</li>
      <li>As soon as you're done a new tab will open with all the conjugations you didn't answer correctly on the first try. Cards that show up on top were answered incorrectly most often, so try to memorize these as good as you can.</li>
    </ol>
  </p>
  <hr class="mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col" style="display: flex; align-items: center;">
        <select id="mode-select" class="form-select">
          <option value="indicativo" selected>Indicativo (Indicative)</option>
          <option value="subjuntivo">Subjuntivo (Subjunctive)</option>
          <option value="imperativo">Imperativo (Imperative)</option>
          <option value="infinitivo">Infinitivo (Infinitive)</option>
          <option value="gerundio">Gerundio (Gerund)</option>
          <option value="participio">Participio (Participle)</option>
        </select>
      </div>
      <div class="col">
        <div id="temps-select" class="vertical-input-group mb-3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <select id="type-select" class="form-select">
          <option value="random" selected>Random</option>
          <option value="frequency">Frequency</option>
          <option value="range">Range</option>
        </select>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="number" id="items" value="10" class="form-control" />
        </div>
        <div class="input-group">
          <input type="number" id="range-start" value="0" class="form-control" />
          <input type="number" id="range-end" value="10" class="form-control" />
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col">
        <button id="go-button" type="button" class="btn btn-primary btn-lg btn-block mx-auto">GO</button>
      </div>
    </div>
  </div>
</div>

<div id="conjugator-div" class="col-md-10 col-lg-10 col-xl-8 mt-4 mb-4" style="opacity: 0;">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 id="words-left"></h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3 id="percentage-correct">0.00%</h3>
      </div>
    </div>
    <div class="row">
      <div class="col" style="background-color: rgb(144,238,144,0.75);"><h3 id="correct-count">0</h3></div>
      <div class="col" style="background-color: rgb(255,204,203,0.75);"><h3 id="wrong-count">0</h3></div>
    </div>
    <div class="row">
      <div class="col">
        <h3 id="temp-h3"></h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3 id="sp-h3"></h3>
      </div>
      <div class="col">
        <h3 id="en-h3"></h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
          <tbody id="verb-table"></tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button id="next-button" type="button" class="btn btn-primary btn-lg btn-block mx-auto">NEXT</button>
      </div>
    </div>
  </div>
</div>

<div class="col-md-10 col-lg-10 col-xl-8">
  <div id="errors-container" class="container"></div>
</div>
{% endblock %}

{% block body_js %}
<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script type="module" src="{{ url_for('static', path='/js/posts/don_conjugator/focus.js') }}"></script>
<script type="module" src="{{ url_for('static', path='/js/posts/don_conjugator/util.js') }}"></script>
<script type="module" src="{{ url_for('static', path='/js/posts/don_conjugator/base.js') }}"></script>
{% endblock %}