{% extends "post.html" %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', path='/css/terminal.css') }}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
<style>
:root {
  --global-font-size: 15px;
  --global-line-height: 1.4em;
  --global-space: 10px;
  --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
    serif;
  --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
    serif;
  --background-color: #222225;
  --page-width: 60em;
  --font-color: #e8e9ed;
  --invert-font-color: #222225;
  --secondary-color: #a3abba;
  --tertiary-color: #a3abba;
  --primary-color: black;
  --error-color: #ff3c74;
  --progress-bar-background: #3f3f44;
  --progress-bar-fill: #62c4ff;
  --code-bg-color: #3f3f44;
  --input-style: solid;
  --display-h1-decoration: none;
}
table.dataTable tbody tr {background-color: transparent;}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: white;
}
</style>
{% endblock %}
{% block title %}Onethreef{% endblock %}
{% block heading %}Onethreef{% endblock %}
{% block subheading %}Onethreef{% endblock %}
{% block header_img %}cmcscanner_header.jpg{% endblock %}

{% block post_content %}
<div class="col-md-10 col-lg-10 col-xl-12 pt-5">
  <p><b>tl;dr:</b> I've downloaded all 13F filings of the Securities and Exchange Commission (SEC) and stored them in a PostgreSQL. On this page I use Node and D3 to access the database and offer functionalities to play around with the filings.</p>
  <hr>
  <p>
    First things first, this is a work in progress! Currently this page only includes a section that allows you to browse through companies that filed a 13F filing at some point in history. Furthermore, you'll see the overall size of the respective portfolio, the number of (unique) assets, the top 10 holdings, and, of course, the portfolio itself. Simply <b>click</b> on a row in the table to update the D3 charts and portfolio information.
  </p>
  <p>
    Warning: some companies - like banks, insurances or asset managers - have really large portfolios, which is why their 13F filings also tend to become fairly big and bulky. Hence, expect some waiting time if you're interested in the quarterly portfolios of say UBS, Credit Suisse, JP Morgan or any of the other big players.
  </p>
  <p>
    I'll try to find some time to add more functionalities to this page such as analyzing entire quarters or year-to-year changes in portfolio positions. The Python package to download, unpack and store the 13F filings into a PostgreSQL can be found on Github.
  </p>
</div>
<div class="col-md-10 col-lg-10 col-xl-12 pt-5">
  <ul class="nav nav-tabs list-unstyled" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="company-tab" data-toggle="tab" href="#company" role="tab" aria-controls="company" aria-selected="false">Company</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="company" role="tabpanel" aria-labelledby="company-tab">
        <div class="col-12 mt-5 mb-5">
          <table id='company-table'><tbody></tbody></table>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-6" style="text-align: center;">
              <h4 style="display: block;">Asset Value (in $)</h4>
              <div id="company-information-valueovertime" class="col-12" style="height: 22em;"></div>
            </div>
            <div class="col-6" style="text-align: center;">
              <h4 style="display: block;">Asset Count (all & unique)</h4>
              <div id="company-information-assetsovertime" class="col-12" style="height: 22em;"></div>
            </div>
        </div>
        <form>
          <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <label class="mr-sm-2" for="company-information-quarterselect">Year/Quarter</label>
              <select class="custom-select mr-sm-2" id="company-information-quarterselect"></select>
            </div>
          </div>
        </form>
        <div class="row mt-5 mb-5">
          <div class="col-12" style="text-align: center;">
            <h4 style="display: block;">Top 10 Assets</h4>
            <div id="company-information-top10assets" class="col-12" style="height: 22em;"></div>
          </div>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col-12" style="text-align: center;">
            <h4 style="display: block;">Portfolio</h4>
            <table id='company-portfolio-table'><tbody></tbody></table>
            <!-- <table id='company-filings-table'><tbody></tbody></table> -->
          </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block body_js %}
{{ super() }}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>

<script type="module" src="{{ url_for('static', path='/js/posts/onethreef/base.js') }}"></script>
{% endblock %}
