{% extends "post.html" %}

{% block head %}
{{ super() }}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>
  .btn {
    padding: 0
  }
  .select2-container--default .select2-results>.select2-results__options {
    max-height: 400px;
  }
</style>
{% endblock %}

{% block content %}
<header class="masthead" style="background-image: black; height: calc(20rem + 57px); width: 100%;">
  <div id="altered-world-container" style="background-color: black; position: absolute; width: 100%; height: 100%; left: 0; top: 0;"></div>
  <div class="center" style="z-index: 1;">
      <div class="site-heading">
          <h1 style="color: black;">Sinvergüenza</h1>
          <span class="subheading" style="color: black;">Stock Monitoring Suite</span>
      </div>
  </div>
</header>

<button onclick="topFunction()" id="to-top-button" title="Go to top"><i class="fas fa-arrow-up"></i></button>

<article data-toc data-toc-id="main-toc" data-toc-class="toc-custom" data-toc-parent-id="toc-parent" class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-10 col-xl-10">
            <div class="row" style="text-align: justify;">
              <p style="margin-top: 2rem;">
                <b>tl;dr:</b> This is a tl;dr
              </p>
            </div>
          </div>
          <div class="col-md-10 col-lg-10 col-xl-10">
            <div class="row">
              <div class="col-12" style="display: flex; align-items: center; justify-content: center; height: 4em;">
                <select id="options-parent"></select>
              </div>
            </div>
            <div class="row">
              <table id="options-table"class="table table-auto table-bordered" ></table>
              <!-- style="table-layout: fixed" -->
            </div>
            <div class="row">
              <div class="col-6 mx-auto" style="height: 2em;">
                <button id="show-companies" class="btn btn-primary d-block mx-auto" style="width: 100%; height: 100%;">Apply Filters</button>
              </div>
            </div>

            <div class="row">
              <div class="col-12" style="display: flex; align-items: center; justify-content: center; height: 4em;">
                <select id="indicators-select">
                  <option value="SMAIndicator">Simple Moving Average (SMA)</option>
                  <option value="EMAIndicator">Exponential Moving Average (EMA)</option>
                  <option value="WMAIndicator">Weighted Moving Average (WMA)</option>
                  <option value="BollingerBands">Bollinger Bands (BB)</option>
                </select>
              </div>
            </div>
            <div class="row">
              <table id="indicators-table"class="table table-auto table-bordered" ></table>
            </div>
            <div class="row">
              <div class="col-6 mx-auto" style="height: 2em;">
                <button id="apply-indicators" class="btn btn-primary d-block mx-auto" style="width: 100%; height: 100%;">Apply Indicators</button>
              </div>
            </div>
          </div>
            
          <div class="col-md-10 col-lg-10 col-xl-10">
            <!-- <div class="row">
              <div class="col-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="times-checkbox" multiple>
                  <label class="form-check-label" for="times-checkbox">
                    Times
                  </label>
                </div>
              </div>
              <div class="col-6">
                <input id="times-spinner" type="number" value="0.5" data-decimals="2" min="0.01" max="0.99" step="0.01"/>
              </div>
            </div> -->
            
          
            
            
            <div id="charts-container" class="row" style="text-align: justify;"></div>
            <div class="row">
              <div id="load-more-div" class="col-6 mx-auto" style="height: 2em; display: none;">
                <button id="load-more" class="btn btn-primary d-block mx-auto" style="width: 100%; height: 100%;">Load more</button>
              </div>
            </div>
          
          </div>
        </div>
    </div>
</article>
{% endblock %}

{% block title %}Sinvergüenza{% endblock %}

{% block body_js %}
{{ super() }}
<!-- <script type="module" src="{{ url_for('static', path='/js/posts/sinverguenza/main.js') }}"></script> -->
<!-- <script type="module" src="{{ url_for('static', path='/js/posts/sinverguenza/barchart-test.js') }}"></script> -->
<script src="{{ url_for('static', path='/js/header-altered-world.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
$(document).ready(function() {
    $('#options-parent').select2({placeholder: "Choose your filter options", val: "", allowClear: true});
    $('#options-parent').val(null).trigger('change');
});
$(document).ready(function() {
    $('#indicators-select').select2({placeholder: "Choose your indicators", val: "", allowClear: true});
    $('#indicators-select').val(null).trigger('change');
});
</script>
<script src="{{ url_for('static', path='/js/posts/sinverguenza/bootstrap-input-spinner.js') }}"></script>
<script src="https://unpkg.com/d3-simple-slider@1.10.4/dist/d3-simple-slider.min.js"></script>
<script type="module" src="{{ url_for('static', path='/js/posts/sinverguenza/selection.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script type="module" src="{{ url_for('static', path='/js/posts/sinverguenza/linechart-test.js') }}"></script>

<script>
  $("input[type='number']").inputSpinner()
</script>
{% endblock %}
